<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">	
	<meta name="description" content="Clément Férey, développeur, intégrateur entrepreneur" property="og:description" />
    <title>Portfolio de Clément Férey</title>
    <meta name="viewport" content="user-scalable=no, initial-scale = 1, minimum-scale = 1, maximum-scale = 1, width=device-width"/>
	
	<meta content="website" property="og:type">
    <meta content="Clément Férey, le site de partage d'expériences pour voyageurs, backpackers ! " property="og:title">
    <meta content="Clément Férey" property="og:site_name">
    <meta content="http://www.goroadtrip.co" property="og:url">
    <meta content="fr_FR" property="og:locale">
    <meta property="og:image" content="http://goroadtrip.co/images/share.png">
    
	<meta name="robots" content="index, follow, all" />
	<meta name="author" content="Clément Férey - http://www.goroadtrip.co/" />
	<meta name="google-site-verification" content="" />
	<meta name="DC.language" content="fr-FR" />
	<meta name="DC.title" lang="fr" content="Clément Férey, le site de partage d'expériences pour voyageurs, backpackers ! " />
	<meta name="DC.description" lang="fr" content="Clément Férey, c'est le site pour partager tes expériences sur tes road trip, tes voyages. Retrouve ceux qui souhaitent partir et partage un bout de route avec eux !" />

	<link rel="shortcut icon"  href="favicon.ico" />
	<link type="image/x-icon" href="images/favicon.ico" rel="icon" />
	<link type="image/x-icon" href="images/favicon.ico" rel="shortcut icon" />


    <link href="/css/website.min.css" rel="stylesheet"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body class="home">

{{{body}}}



<footer class="center">
  <a href="http://twitter.com/_ClementF"> <i class="fa fa-twitter"></i></a>
  <a href="http://www.linkedin.com/pub/cl%C3%A9ment-f%C3%A9rey/64/71a/b42"><i class="fa fa-linkedin"></i></a>
  <p> Copyright 2015</p>
</footer>

 <script type="text/javascript" src="/js/jquery.js"></script>
 <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript">

  // var _gaq = _gaq || [];
  // _gaq.push(['_setAccount', 'UA-37673674-2']);
  // _gaq.push(['_trackPageview']);

  // (function() {
  //   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  //   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  //   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  // })();

</script>
</body>
</html>