<div id="intro">
	<div id="background" class="un-blur delay-1s">
		<header id="menu">
			<ul>
				<li><a href="#work">Projects</a></li>
				<li><a href="#skills">Skills</a></li>
				<li><a href="#timeline">Experiences</a></li>
				<li><a href="#contact">Contact</a></li>
				<li><a target="_blank" href="http://blog.clementferey.fr">Blog</a></li>
			</ul>
		</header>
		<h1 class="center fade-in-down delay-3s">Hello, I'm Clément <strong>FEREY</strong></h1>				
		<h2 class="center no-mobile fade-in-up delay-3s">Tech | Startup | Travel</h2>
	</div>
	



	<div class="container-photo center">
		<div class="load-left" id="line"></div>
		<div id="circle-outer" class="center">
			<div id="circle" class="blue-to-white delay-1s center">
				<div class="fade-in delay-2s center" id="circle-inner">
					<img src="/images/clementferey.jpg" alt="Photo de Clément Férey">	
				</div>

			</div>
		</div>

	</div>



</div>

<div id="presentation">
	
	<div class="center content">
		<div>
			<h2 class="arrow">Trust me, I will be an Engineer</h2>
			<div class="">
				<div class="container-icon wp1 delay">
					<div class="icon">
						<i class="fa fa-desktop shadow"></i>
					</div>
					<h3>Tech</h3>
					<p>Being very curious, I'm always looking for new technologies to explore. I surf on the web to find more challenges, more inspiration...
					</p>
				</div>
				<div class="container-icon wp1 delay-05s">
					<div class="icon">
						<i class="fa fa-code-fork shadow"></i>
					</div>
					<h3>Development</h3>
					<p>Since I started to code, I've never been able to stop and I really like to have new projects.</p>
				</div>
				<div class="container-icon wp1 delay">
					<div class="icon">
						<i class="fa fa-heart shadow"></i>
					</div>
					<h3>Entrepreneurship</h3>
					<p>Through my previous experiences, I've learned many things about how to start a company and I'm really fascinated about it.</p>		
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

</div>

<div id="work">
	<div class="grid center content">
		<h2>Projects</h2>
		<figure class="effect-sadie">
			<img src="/images/projects/goroadtrip_logo.jpg" alt="img02">
			<figcaption>
				<h2>Go<span>RoadTrip</span></h2>
				<ul >
					<li>Startup Week end</li>
					<li>2015 - Brest</li>

				</ul>				
				<a href="/projects/1/goroadtrip-startup-weekend-brest-entrepreneurship">More</a>
			</figcaption>			
		</figure><!-- 
	--><figure class="effect-sadie">
	<img src="/images/projects/yellow.jpg" alt="img02">
	<figcaption>
		<h2>Yell<span>ow</span></h2>
		<ul >
			<li>iOS App</li>
			<li>2015 - Brest</li>

		</ul>
		<a href="/projects/2/app-ios-opencv-image-petanque">More</a>
	</figcaption>			
		</figure><!-- 
	--><figure class="effect-sadie">
	<img src="/images/projects/gobrest.jpg" alt="img02">
	<figcaption>
		<h2>Go<span>Brest</span></h2>
		<ul >
			<li>Windows Phone App</li>
			<li>2014 - Brest</li>

		</ul>
		<a href="/projects/3/app-gobrest-windows-phone-bus-schedule">More</a>
	</figcaption>			
		</figure><!-- 
	--><figure class="effect-sadie">
	<img src="/images/projects/tennis.jpg" alt="img02">
	<figcaption>
		<h2>TC<span>Muzillac</span></h2>
		<ul >
			<li>Website</li>
			<li>2012 - Britanny</li>

		</ul>
		<a href="/projects/4/website-tennis-muzillac">More</a>
	</figcaption>			
</figure>
</div>

</div>


<div id="skills">
	
	<div class="center content">
		<h2>Skills</h2>
		<div class="background">
			<div class="container-icon wp2">
				<div class="icon">
					<i class="fa fa-mobile"></i>
				</div>
				<ul>
					<li>android</li>
					<li>ios</li>
					<li>windows phone</li>
				</ul>
			</div>
			<div class="container-icon wp2 delay-05s">
				<div class="icon">
					<i class="fa fa-code"></i>
				</div>
				<ul>
					<li>html / css</li>
					<li>jquery</li>
					<li>angularjs</li>
				</ul>
			</div>
			<div class="container-icon wp2 delay-1s">
				<div class="icon">
					<i class="fa fa-terminal"></i>
				</div>
				<ul>
					<li>java</li>
					<li>nodejs</li>
					<li>php</li>					
				</ul>
			</div>
			<div class="container-icon wp2 delay-05s">
				<div class="icon">
					<i class="fa fa-database"></i>
				</div>
				<ul>
					<li>mysql</li>
					<li>mongo db</li>
					<li>merise</li>
				</ul>
			</div>
			<div class="container-icon wp2">
				<div class="icon">
					<i class="fa fa-laptop"></i>
				</div>
				<ul>
					<li>cisco</li>
					<li>linux</li>
					<li>osx</li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
		
	</div>
</div>
<div id="timeline" class="content clearfix">
	<div class="side" id="formations">
		<h2 class="center">Education</h2>
		<div class="dates">
			<div class="year">
				<span class="date">2011</span><span class="circle"></span>
				<div class="item center">
					<h4>French Baccalaureate (Sciences)</h4>
					<ul>
						<li><i class="fa fa-graduation-cap"></i>Lycée Marcelin Berthelot</li>
						<li><i class="fa fa-map-marker"></i>Questembert</li>
					</ul>
				</div>
			</div>
			<div class="year">
				<span class="date">2012</span><span class="circle"></span>
				<div class="item center">
					<a href="/formations/1/isen-cir-computer-science">
						<h4>IT and network programm</h4>
						<ul>
							<li><i class="fa fa-graduation-cap"></i>ISEN</li>
							<li><i class="fa fa-map-marker"></i>Rennes</li>
						</ul>
					</a>
					
				</div>
			</div>
			<div class="year">
				<span class="date">2013</span><span class="circle"></span>				
			</div>
			<div class="year">
				<span class="date">2014</span><span class="circle"></span>
				<div class="item center">
					<a href="/formations/2/isen-engineering-computer-science">
						<h4>Engineering school</h4>
						<ul>
							<li><i class="fa fa-graduation-cap"></i>ISEN</li>
							<li><i class="fa fa-map-marker"></i>Brest</li>
						</ul>
					</a>
				</div>
			</div>
			<div class="year">
				<span class="date">2015</span><span class="circle"></span>				
				<div class="item center">
					<a href="/formations/3/uqac-quebec-chicoutimi-computer-science">
						<h4>Computer science</h4>
						<ul>						
							<li><i class="fa fa-graduation-cap"></i>University of Québec</li>
							<li><i class="fa fa-map-marker"></i>Chicoutimi</li>
						</ul>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="side" id="experiences">
		<h2 class="center">Experience</h2>
		<div class="dates">
			<div class="year">
				<span class="date">2011</span><span class="circle"></span>
				
			</div>
			<div class="year">
				<span class="date">2012</span><span class="circle"></span>				
				<div class="item center">
					<h4>Volunteer placement</h4>
					<ul>
						<li>I taught people about basic computer skills</li>
						<li><i class="fa fa-graduation-cap"></i>AMISEP</li>
						<li><i class="fa fa-map-marker"></i>Ploërmel</li>
					</ul>
				</div>
			</div>
			<div class="year">
				<span class="date">2013</span><span class="circle"></span>				
				<div class="item center">
					<a href="/experiences/1/internship-id-interactive">
						<h4>Internship</h4>
						<ul>
							<li>Web developer</li>
							<li><i class="fa fa-graduation-cap"></i>ID Interactive</li>
							<li><i class="fa fa-map-marker"></i>Vannes</li>
						</ul>
					</a>
				</div>
			</div>
			<div class="year">
				<span class="date">2014</span><span class="circle"></span>				
				<div class="item center">
					<a href="/experiences/2/part-time-job-id-interactive">
						<h4>Part time job</h4>
						<ul>
							<li>Web developer</li>
							<li><i class="fa fa-graduation-cap"></i>ID Interactive</li>
							<li><i class="fa fa-map-marker"></i>Vannes</li>
						</ul>
					</a>
				</div>
			</div>
			<div class="year">
				<span class="date">2015</span><span class="circle"></span>
				
			</div>
		</div>
	</div>
</div>

<div id="contact" class="center">
	<h2 class="title">Get in touch ! </h2>
	
	<form action="/contact">
		<input required id="contact-name" type="text" placeholder="Your name">
		<input required id="contact-email" type="email" placeholder="Your email">
		<textarea required id="contact-msg" cols="30" rows="10" placeholder="Your message"></textarea>

		<div class="progress-button">
			<button><span>Go ! </span><i class="fa fa-check"></i></button>			
		</div>

	</form>

</div>
